<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/diets.css">
    <link rel="stylesheet" type="text/css" href="../css/calendary.css">

    <script src="https://kit.fontawesome.com/70da13af9d.js" crossorigin="anonymous"></script>
    <title>Calendary</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#" class="button">Calendary</a>
                </li>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="button">My Data</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">Diet</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">Favorite</a>
                </li>
            </ul>
        </nav>
        <main>
            <header class="wrapper">
                <div class="calendary">
                    Calendary
                </div>
            </header>
            <div class="background">
                <div class="box"></div>
            </div>
        </main>

    </div>
</body>