<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/calendary.css">

    <script src="https://kit.fontawesome.com/70da13af9d.js" crossorigin="anonymous"></script>
    <title>Calendary</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#" class="button">Calendary</a>
                </li>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="button">My Data</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">Diet</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">Favorite</a>
                </li>
            </ul>
        </nav>
        <main>
            <header class="wrapper">
                <div class="calendary">
                    Calendary
                </div>
            </header>
            <div class="content">
                <div class="box">
                    <i class="fas fa-chevron-left"></i>
                    <span class="month-year">Listopad 2021</span>
                    <i class="fas fa-chevron-right"></i>
                    <div class="wrapper1">
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                        <div>Sun</div>
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                      </div>
                </div>
            </div>
        </main>

    </div>
</body>