<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/myData.css">

    <script src="https://kit.fontawesome.com/70da13af9d.js" crossorigin="anonymous"></script>

    <title>MyData</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#" class="button">Calendary</a>
                </li>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="button">My Data</a>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">Diet</a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#" class="button">Favorite</a>
                </li>
            </ul>
        </nav>
        <main>
            <header class="wrapper">
                <div class="personal-data-sign">
                    Personal data
                </div>
            </header>
            <div class="content">
                <div class="left-tables">
                    <div class="group-column"> 
                        <span class="head">
                            Name
                        </span>
                        <span class="head-label">
                            name
                        </span>
                    </div>
                    <div class="group-column"> 
                        <span class="head">
                            Surname
                        </span>
                        <span class="head-label">
                            surname
                        </span>
                    </div>
                    <div class="group-column"> 
                        <span class="head">
                            Email
                        </span>
                        <span class="head-label">
                            Email
                        </span>
                    </div>
                    <div class="group-column"> 
                        <span class="head">
                            Country
                        </span>
                        <span class="head-label">
                            Country
                        </span>
                    </div>
                </div>
                <div class="right-tables">
                    <div class="group-column"> 
                        <span class="head">
                            Street
                        </span>
                        <span class="head-label">
                            Street
                        </span>
                    </div>
                    <div class="group-column"> 
                        <span class="head">
                            Number
                        </span>
                        <span class="head-label">
                            Number
                        </span>
                    </div>
                </div>
            
        </main>

    </div>
</body>