.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendary{
    font: italic normal normal 60px/80px Rage;
    letter-spacing: 0px;
    color: #0B3913CC;
    text-transform: capitalize;
}
.background{
    width: 100wh;
    height: 100vh;
    background-color: grey;
    position: relative;

    display: flex;
    /* justify-content: bottom; */
    align-items: flex-end;

}

.box{
    width: 1000px;
    height: 600px;
    background-color: whitesmoke;
    /* flex-direction: column; */
    
}

