section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.diets>div>img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.diets>div>div{
    height: 50%;
    color: #0A8F29;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.diets>div{
    background: rgba(240, 255, 240, 0.432);
    border: 1px solid gray;
    border-radius: 1em 1em 0 0;
    height: 320px ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}