.base-container{
    margin-bottom: 0px;
}
.wrapper{
    justify-content: center;
}

.personal-data-sign{
    font: italic normal normal 60px/80px Rage;
    letter-spacing: 0px;
    color: #0B3913CC;
    text-transform: capitalize;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #C1C1C1;
}

.head {
    text-align: left;
    font: normal normal bold 30px/40px Arial;
    letter-spacing: 0px;
    color: #0A8F29;
    
}
.head-label {
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 40px;

    display: flex;
    flex-direction: row;

    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BCE0FD;
    border-radius: 4px;    
}


.left-tables{
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;
}

.right-tables{
    display: flex;
    flex-direction: column;  
    width: 50%;
    height: 100%;
    
}

.street-numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.comment-frame{
    background-color: white;
    border: 1px solid #BCE0FD;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}




